<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lead.css" rel="stylesheet">
    <title>Sport Lead</title>
</head>
<body>
    <div id="app">
        <div class="container">
          <div class="logo">
            <!-- place for SVG -->
            <div class="login"><h1 class="login_title">Авторизация</h1>

            <label class="title">Логин <input class="username" required v-model="username" type="text" 
            placeholder="devleader.pro@gmail.com"> </label>
        </input><button type="reset">X</button>
            
            <label class="title">Пароль<input class="password" required v-model="password" type="password"
             placeholder="Aa12345678@"> </input></label>
            <button class="signUP" type="button">Зарегистрироваться</button>
            <button class="signIN" type="submit">Войти</button>
           </div> 
          </div>
        </div>
      </div>
</body>
</html>